.lodgingCollapse{
    display:flex;
    width:100%;
    justify-content: space-between;
    
    .collapseWrapper{
        width:45%;
        margin:15px;
    }

    .collapseHeader {
        font-size: 18px;
    }

    .collapseContent {
        text-align: justify;
    }
}