.sliderContainer {
    width:100%;
    height:415px;
    position:relative;

    i {
        position: absolute;
        top:calc(50% - 40px);
        font-size: 80px;
        margin: 0 25px;
        color:white;
        cursor: pointer;

        &.fa-angle-left {
            left:0;
        }

        &.fa-angle-right {
            right:0;
        }
    }

    p {
        position:absolute;
        left:calc(50% - 10px);
        bottom:0;
        color:white;
        font-size:18px;
        font-weight: medium;
        margin-bottom: 25px;
    }
}

.sliderViewport {
    height:100%;
    width:100%;
    overflow: hidden;

}

.slider {
    height:415px;
    width:1000%;
    transition:0.5s ease-in-out;

    img.sliderContent {
        height:100%;
        width:10%;
        object-fit: cover;
        border-radius: 25px;
    }
}
