.sliderContainer {
    width:100%;
    height:415px;
    // overflow:hidden;
    position:relative;

    i {
        position: absolute;
        top:calc(50% - 40px);
        font-size: 80px;
        margin: 0 25px;
        color:white;
        cursor: pointer;

        &.fa-angle-left {
            left:0;
        }

        &.fa-angle-right {
            right:0;
        }
    }

    p {
        position:absolute;
        left:calc(50% - 10px);
        bottom:0;
        color:white;
        font-size:18px;
        font-weight: medium;
        margin-bottom: 25px;
    }
}

.sliderViewport {
    display:flex;
    height:100%;
    width:100%;
    // overflow: hidden;
    // transform: translateX(-100%);
    .sliderContent {
        height:100%;
        width:100%;
        // object-fit: cover;
        object-position: center;
        border-radius: 25px;
    }
        
}
